*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.out_body{
    height: 100vh;
    overflow: hidden;
}
.sidebar,.content{
    padding: 0;
}
.navbar-brand {
    color: white;
}

.navbar-nav .nav-link {
    color: white;
}
.dropdown-menu{
    background-color: #222F3E;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #F39C12;
    color: white !important;
}
.dropdown-item {
    background-color: #222F3E;
    color: white;
}
a:hover{
    color:#F39C12 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #F39C12; 
}
.nav_profile{
    padding-top: 10px;
    margin-right: 32px;
}
.nav_profile .nav-link{
    color: white;
}


/* Sidebar */
.user_part{
    color: white;
}
.user_part img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 50px;
}
.user_part h5{
    font-size: 16px;
    text-align: center;
}
.user_part p{
    text-align: center;
    font-size: 14px;
}
.user_part p i{
    color: green;
}

.sidebar a{
    color: white;
}
.sidebar_container{
    background-color: #222F3E;
    padding: 10px 10px 10px 20px;
}
.side-body{
    height: 68vh;
    background-color: #222F3E;
}
.bg-primary{
    background-color: #222F3E !important;
}

.accordion-item{
    background-color: #222F3E;
}

.accordion-button{
    background-color: #F39C12 !important;
}
.bottom_sidebar{
    padding-left: 10px;
}
.bottom_sidebar a{
    text-decoration:   none;
}
/* Breadcrump */
.breadcrumb{
    margin-bottom: 0;
    padding: 8px 22px; 
    width: 100%;
    background-color: #f7e5c8;
}
.main_content{
    padding: 20px;
}

/* Footer */
.footer {
    background-color: #222F3E;
    color: white;
    padding: 12px;
    text-align: center;
  }
  